.user-details-container{
    display: flex;
    padding: 24px;
    background-color: #fff;
    border: 1px solid #DEE2E6;
    border-radius: 8px;

    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.05);
    margin-bottom: 16px;
}


img.profile-image  {
    width: 112px;
    height: 112px;
    border-radius: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.user-details-container{
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 32px;
    /* background-color: red; */
}

.user-details-wrapper{
    display: flex;
    flex-direction: column;
}

.user-details{
    display: grid;
    gap: 24px;
    margin-bottom: 24px;
    /* background-color: red; */
}

.user-details .user-details-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    /* background-color: red; */
}

.user-details-bank-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


.user-details-container .detail-type {
    font-size: 16px;
    line-height: 24px;
}

.user-details-container .detail-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.user-details-item-cell button{
    background: none;
    border: none;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #03A678;
}

.bank-card-heading{
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    margin-bottom: 16px;
}


.user-details-bank-card {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #DEE2E6;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.05);
}