.settings-container{
    padding: 24px;
}

.settings-top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.settings-input-wrapper {
    padding: 24px 70px 24px 13px;
    background-color: white;
    display: grid;
    gap: 80px;
    grid-template-columns:2fr 5fr ;
}
.settings-text-desc{
    width: 255px;
}

.settings-form-input-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.settings-input{
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    width: 180px;
    padding: 12px;
    outline: none;
    font-size: 16px;
}

.settings-input:first-child{
    margin-right: 16px;
}

.settings-btn-wrapper{
    display: flex;
    justify-content: flex-end;
    }

.setting-page-btn {
    padding: 10px 16px;
    font-size: 16px;
    background-color: #03A678;
    border-radius: 4px;
    color: white;
    border: none;
}

.settings-buttons-tab-container{
    display: flex;
    flex-direction: column;
}

/* .settings-buttons-tab-container > button {
    
} */

.settings-tab-btn{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    padding: 12px 24px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.settings-tab-btn:last-child{
    margin-bottom: 0px;
}

.settings-tab-btn > img {
    margin-right: 12px;
}

.settings-tab-btn-active{
    background-color: #EEF5F3;
    color: #03A678;
}

.settings-tab-btn:hover {   
    background-color: #EEF5F3;
    color: #03A678;
}

.settings-content-wrapper{
    display: none;
}

.settings-content-active{
    display: block;
}