.subnav-container{
    padding: 24px 24px 0 24px;
}

.subnav-heading{
    color: #404244;
    font-size: 24px;
    line-height: 31.2px;
}

.nav-breadcrumbs{
    display: flex;
}

.nav-breadcrumbs-item{
    list-style: none;
    margin-right: 10px;
    color: #03A678;
    text-transform: capitalize;
    font-size: 1rem;
}

.nav-breadcrumbs-item::before{
    content:'\002F';
    list-style: none;
    margin-right: 10px;
}

.nav-breadcrumbs-item:first-child::before{
    content:'';
    position:absolute;
}

.nav-breadcrumb-link{
    font-family: 'helvetica-neue';
    text-decoration: none;
    color: #03A678;
}

.nav-breadcrumbs-item:last-child .nav-breadcrumb-link{
    font-size: 0.875rem;
    font-family: 'Source Sans Pro';
    text-decoration: none;
    color: #8D8F91;
    cursor:default;
}

.subnav-wrapper{
    display:flex;
    justify-content:space-between
}