.update-password-wrapper{
    width: 90%;    
}
.update-password-wrapper .section-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 150px;
}
.update-password-wrapper .section-content .password-field{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 24px;
}
.update-password-wrapper .section-content .password-field input{
    width: 70%
}