.dashboard{

}

.dashboard-top-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6,1fr);
    gap: 20px;
    /* height: 100%; */
    background-color: yellow;
    margin-bottom: 20px;
}

.dashboard-top-item {
    background-color: red;
}
.dashboard-top-item:nth-child(3){
    grid-column: 3;
    grid-row: 1/span 5;
}

.dashboard-top-item:nth-child(4){
    grid-column: 1 / span 2;
    grid-row: 2/span 5;
}

.dashboard-bottom-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.dashboard-bottom-item{
    background-color: blue;
}