.dashboard-projects-card-numbers{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.dashboard-projects-heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

.dashboard-projects-heading {
    font-size: 24px;
    line-height: 31.2px;
    font-weight: 600;
    color: #404244;

}

.dashboard-projects-card-numbers .desc{
    font-size: 16px;
    line-height: 24px;
}

.dashboard-projects-card-numbers .value{
    font-size: 24px;
    line-height: 31.2px;
    font-weight: 600;
}

.dashboard-projects-card-numbers .projects-value-container:nth-child(2){
    border-left: 1px solid #DEE2E6;
    padding: 0 12px;
}