.project-detail-container{
    padding: 16px;
}

.project-top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-edit-btn{
    background-color: white;
    border: 1px solid #03A678;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-radius: 4px;
    color: #03A678;
    font-size: 16px;
}

.project-edit-btn-icon{
    margin-right: 10px;

}

.project-center-content-wrapper{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.project-center-content{
    position: relative;
    background-color: white;
    border: 1px solid #DEE2E6;
    grid-column: 2/ span 1;
    padding: 24px;
    border-radius: 8px;
    width: 70vw;
    overflow-x: hidden;

    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.05);
}



.project-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

}

.project-name{
    font-weight: 600;
    font-size: 24px;
    line-height: 31.2px;
}

.project-status{
    background-color: rgba(88, 169, 255, 0.1);
    font-size: 14px;
    line-height: 21px;
    color: #58AAFF;
    border-radius: 24px;
    padding: 5px 8px;
}

.project-detail-description {
    line-height: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #DEE2E6;
}

.slider {

    /* background-color: red; */
    /* overflow-x: hidden; */
    width: calc(100% - 48px);
    position: absolute;
    /* display: none; */
    left: calc(0% + 24px);
}

.project-images-container{
    display: flex;
    padding: 24px 0;
    position: absolute;
    /* width: 200%; */
    top: 0;
    left: 0;
    /* pointer-events: none; */
}

.project-image-wrapper{
    cursor: pointer;
    width: 235px;
    border-radius: 8px;
    margin-right: 5px;
}

.project-image{
    width: 235px;
    height: 190px;
    border-radius: 8px;
    -o-object-fit: cover;
       object-fit: cover;
}

.project-detail-info-wrapper{
    margin-top:238px ;   
}