.dashboard-revenue-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.dashboard-revenue-heading {
    font-size: 24px;
    line-height: 31.2px;
    font-weight: 600;
    color: #404244;
    margin-bottom: 55px;
}

.dashboard-revenue-value {
    font-size: 24px;
    line-height: 31.2px;
    font-weight: 600;
    color: #404244;

}

.dashboard-revenue-growth-rate-container{
    display: flex;
    font-size: 14px;
    line-height: 21px;
}

.dashboard-revenue-growth-rate-container .revenue-grwth-percent{
    font-size: 13px;
    margin-right: 5px;
    display: flex;
}

.increase-color{
    color: #28A745;
}
.drop-color{
    color: red;
}