.super-admin-list{
    font-size: 18px;
    line-height: 21px;
    color: #909896;
    margin-bottom: 10px;
}

.admin-list-item{
    background: #EEF5F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 19px;
    border-radius: 8px;
    margin-bottom: 21px;
}

.admin-list-item-btn{
    background: #03A678;
    border-radius: 4px;
    line-height: 21px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 10px 16px;
}

.adm-list-item-thumbnail{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    -o-object-fit: cover;
       object-fit: cover;
       margin-right: 14px;
}

.adm-list-item-prof-info-wrpper{
    display: flex;
    align-items: center;
}

.adm-list-item-prof-info .name{
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
}

.adm-list-item-prof-info .role{
    font-size: 14px;
    line-height: 21px;
    color: #909896;
}
