.investment-container-wrapper{
    width: 90%;    
}
.investment-container-wrapper .section-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 150px;
}
.investment-container-wrapper .section-content .investment-container-field{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
}
.investment-container-wrapper .section-content .investment-container-field input, 
.investment-container-wrapper .section-content .investment-container-field select{
    width: 65%
}