.login-container {
    background-color: #404244;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    color: #404244;

    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
}

.login-card-wrapper {
    background-color: white;
    padding: 32px;
    border-radius: 8px;
    border: 1px solid #DEE2E6;
    min-height: 384px;
}

.login-heading {
    font-size: 2.5rem;
    line-height: 2.813rem;
    margin-bottom: 32px;
}

.login-input-wrapper{
    margin-bottom: 24px;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.login-label{
 
    font-size: 1rem;
    line-height: 1.5rem;
}

.login-input{
    width: 412px;
    height: 48px;
    border: 1px solid#E0E0E0;
    outline: none;
    font-size: 1rem;
}



.login-forgot-password {
    text-align: right;
    margin-top: 8px;
}

.login-submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 412px;
    height: 48px;
    border: none;
    background-color: #03A678;
    color: white;
}

.auth-matador-logo {
    margin-bottom: 50px;
    width: 58px;
    height: 64px;
}