.update-input-btns-wrapper{
    flex: 1;
    /* background: red; */
    display: flex;
    justify-content: space-between;
}

.update-adm-delete-btn{
    background: none;
    border: none;
    color: #DE4F4F;
    font-size: 16px;
    line-height: 24px;
}

.update-adm-discard-btn{
    border-radius: 4px;
    padding: 8px 16px;
    background: #EEF5F3;
    border: none;
    color: #03A678;
    font-size: 16px;
    line-height: 24px;
}

.update-adm-save-btn{
    border-radius: 4px;
    padding: 8px 16px;
    background: #03A678;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 24px;
    width: 142px;
    height: 40px;
}